<h2 mat-dialog-title>Dodaj czytelnika</h2>
<mat-dialog-content class="mat-typography">
  <div class="add-book-form">

    <mat-form-field class="example-form-field">
      <mat-label>Tytuł</mat-label>
      <input matInput type="text" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Autor</mat-label>
      <input matInput type="text" [(ngModel)]="author">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Rok wydania</mat-label>
      <input matInput type="text" [(ngModel)]="publishYear">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>ISBN</mat-label>
      <input matInput type="text" [(ngModel)]="isbn">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Kategoria</mat-label>
      <input matInput type="text" [(ngModel)]="category">
    </mat-form-field>


    <button mat-raised-button mat-button color="primary" (click)="onSubmitClick()">Dodaj</button>
    {{ errorMessage }}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Zamknij</button>
</mat-dialog-actions>