.navbar-title {
  margin-right: 30px;
}

.app-navbar {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin: 0 15px;
  span {
    margin-left: 5px;
  }

  &:hover {
    color: #bbb;
    cursor: pointer;
  }
}

.actived {
  color: #bbb;
}

.navbar-nav-item-right {
  float: right;
}
