.loan-list-menu-container {
  width: calc(100%-60px);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .loan-list-menu {
    button {
      margin: 0 10px;
    }
  }
}
